* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

header {
    padding: 20px 6%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    color: #eee;
}

header nav {
    display: none;

}

header nav.active {
    display: block;
    background-color: #000;
    position: absolute;
    top: 90%;
    left: 0;
    right: 0;
    height: 40vh;
}

header nav.active li {
    padding: 1.25rem;
    border-bottom: 1px solid #eee;


}

header nav.active li:last-child {
    border-bottom: none;
}

header nav.active a {
    color: #eee;
    text-transform: capitalize;
    text-decoration: none;

}



.logo {
    font-size: 32px;
    font-weight: 700;

}

.fa-th {
    font-size: 30px;
}

.hero {
    padding: 0 6%;
    color: #eee;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('img/heroSmall.jpg');
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

}

.hero h1 {
    line-height: 50px;
    margin-bottom: 3rem;
}

h1 span {
    font-size: 30px;
    color: rgb(255, 198, 46);
    font-weight: 700;
    font-style: italic;
}

.hero p {
    font-size: 18px;
    margin-bottom: 3rem;

}

.hero a {
    width: 30vw;
    height: 30vw;
    font-size: 20px;
    border-radius: 50%;
    background-color: transparent;
    border: 3px solid #eee;
    margin: 0 auto;
    color: rgb(255, 198, 46);
    line-height: 30vw;
    text-align: center;
}

.section {
    padding: 60px 6%;
}

.small-title {
    color: #6f7581;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
}

.section-title {
    font-size: 46px;
    color: #403f52
}

.custom .section-title {
    margin-bottom: 52px;
}

.custom .btn {
    display: inline-block;
    border: 2px solid #2d1dff;
    color: #000;
    text-decoration: none;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 400;
    margin-bottom: 60px;
    padding: 16px 32px;
}

.cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    flex-basis: 45%;
    margin-top: 40px;
}

.card i {
    font-size: 38px;
    color: #2d1dff;
    margin-bottom: 32px;
}

.card-title {
    font-size: 18px;
    color: #524e86;
    margin-bottom: 16px;
}

.card p {
    line-height: 30px;
}